<% if @photos.any? %>
  <% @photos.all.each do |photo| %>
  <%= link_to "#{photo.name}", photo_path(photo) %>
  <% end %>
<% else %>
  <h1>No photos have been added yet</h1>
  <a href="/photos/new">Add a photo</a>
<% end %>
