@import "font-awesome";

body {
  font-family: "Futura (Light)";
  background: url('/images/waterfall.png') no-repeat fixed 95% 95%;
  text-align: center;
}

a:-webkit-any-link {
  color: -webkit-blue;
  text-decoration: none;
  cursor: auto;
}

.photo-body {
  padding-top: 5%;
}

.brand {
  font-family: "Billabong";
  font-size: 2em;

}

.footer {
  width: 100%;
  background-color: black;
  color: white
}

section.image-container {
  display: inline-block;
  width: 460px;
  padding-top: 15px;
  padding-bottom: 45px;
  background-color: #F2F1EF;
  box-shadow: 5px 5px 5px black;
}

.user-email {
  padding-top: 1%;
}

.camera {
  float: left;
  margin-left: 10%;
}

#sign-up-icon {
  padding-right: 2%;
  padding-left: 2%;
}

#sign-out-icon {
  position: absolute;
  left: 87.5%;
  top: 2.5%
}

#upload-photo-icon{

}
